/* schedule search css --> css for page by Shubham */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2%;
  gap: 10px;
  background-color: #e7e7e2;
  border-radius: 10px;
}

.flight-card {
  display: flex;
  align-items: center;
  padding: 2%;
  border: 1px solid black;
  border-radius: 20px;
  width: 60%;
}
.flight-card p {
  display: block;
  padding: 2%;
  margin: 2% 2% 2% 2%;
  text-align: center;
}

.airImg {
  background-color: #ffffff;
  width: 8%;
  border: 10px;
  margin-right: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .flex-container {
    padding: 2% 1%;
    gap: 5px;
  }

  .flight-card {
    width: 100%;
    flex-wrap: wrap;
  }
  .airImg {
    width: 10%;
    margin: auto;
  }
}

@media screen and (max-width: 480px) {
  .flex-container {
    padding: 2% 0;
    gap: 5px;
  }

  .flight-card {
    flex-direction: column;
    width: 100%;
  }

  .airImg {
    margin-bottom: 5px;
    width: 20%;
  }
}






/* aniket homepage css */
*{
    margin: 0;
    padding:0;
    text-transform: uppercase;
}
.navigation{
      position: static;
      background-image: linear-gradient(180deg, rgba(0, 38, 255, 0.819),#01f7ff);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:2px;
      border-radius: 10px;
      border: 1px solid plum;
      box-shadow:1px 2px rgb(178, 129, 227);
      z-index: 51;
}
.nav a{
      margin: 18px;
      color: aliceblue;
      text-decoration: none;
      font-size: large;
      font-weight: 500;
      font-family: 'Times New Roman', Times, serif;
      
}

.nav a:hover{
      color: rgb(255, 230, 2);
      text-decoration: underline;
      transform:scale(1.1);
}
.btn {
  font-size: large;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
 margin: 15px;
 background-color: transparent;
 color: whitesmoke;
 border-radius: 110px;
}
.btn:hover{
background-image: linear-gradient(50deg, yellow, rgb(0, 98, 255));
}

.btn_search:hover{
  transition: 0.3s;
  color: aliceblue;
  opacity: 1;
  background-color: #838485;
}
#img1{
  border-radius: 10px;
  height: 620px;
}
.pic-but .mybtn1 {
  position: absolute;
  top:563px;
  height:9%;
  width: 15%;
  left: 17.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(164, 110, 110);
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 15px;
  text-align: center;
}
.pic-but .mybtn1:hover {
  background-color: rgb(72, 72, 72);
  color: white;
}
.pic-but .mybtn2 {
  position: absolute;
  margin-left: 10px;
  top:563px;
  height:9%;
  width: 15%;
  left: 32.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(139 133 133);
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
}
.pic-but .mybtn2:hover {
  background-color: rgb(72, 72, 72);
  color: white;
}
.par{
  border-radius: 10px;
}
.par-child{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #e7e7e2;
}
#child{
  display: flex;
  justify-content: space-between;
  margin:0% 10% 2% 10%;
  border-radius: 10px;
}
#aairport,#dairport,#submit,#ddate,#adate{
  height:40px;
  width: 270px;
  border-radius: 15px;
  border: 1px solid;
  padding-left: 0.5%;
}
input[type="date"]
{
  height:40px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid;
}
.readwrite {
  /* top:auto; */
  padding: 0%;
  margin: 0%;
  text-align: center;
  background-color: rgb(224, 224, 224);
}
#foot{
  position: static;
  background-image: linear-gradient(180deg, rgba(0, 38, 255, 0.819),#01f7ff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:2px;
  border-radius: 10px;
  border: 1px solid plum;
  box-shadow:1px 2px rgb(178, 129, 227);
  z-index: 51;
}
#last1{
  top:auto;
}
.fa {  
  padding: 20px;  
  text-align: center;  
  margin: 5px 2px;  
  font-size: 15px;  
  width: 40px;  
  border-radius: 15px;
}  
.fa-facebook {  
  background: #3B5998;  
  color: white;  
}  
.fa-twitter {  
  background: #55ACEE;  
  color: white;  
}
.fa-linkedin {  
  background: #007bb5;  
  color: white;  
}  
.fa-instagram {  
  background: #125688;  
  color: white;  
}  
.fa-youtube {  
  background: #bb0000;  
  color: white;  
}  
.fa-google {  
  background: #dd4b39;  
  color: white;  
}    
.fa:hover {  
    opacity: 0.9;  
}  
.pic-but{
  animation: hill 4s infinite alternate-reverse;
}
@keyframes hill{
  from{transform: scale(1);}
  to {transform: scale(1.03);}
  
}
.child div{
 padding: 25px;
}
.logo{
  display: flex;
  justify-content: space-around;
  gap:28px;
  font-size:25px;
  color: whitesmoke;
}
#name{
text-shadow: 5px 5px 5px#3B5998;
text-decoration: none;
color-scheme:2px 5px 8px red ;
}