*{
  margin: 0;
  padding:0;
  text-transform: uppercase;
    
}
.navigation{
  position: static;
    background-image: linear-gradient(180deg, rgba(0, 38, 255, 0.819),#01f7ff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2px;
    border-radius: 10px;
    border: 1px solid plum;
    box-shadow:1px 2px rgb(178, 129, 227);
    z-index: 51;
}
.nav a{
    margin: 18px;
    color: aliceblue;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    
}
.nav a:hover{
    color: rgb(255, 230, 2);
    text-decoration: underline;
    transform:scale(1.1);
}
.btn {
    font-size: large;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
   margin: 15px;
   background-color: transparent;
   color: whitesmoke;
   border-radius: 110px;
}
.btn:hover{
    background-image: linear-gradient(50deg, yellow, rgb(0, 98, 255));
}
.parent{
    margin: 2.8px;
}
.coverpic {
    opacity: 0.5;
    text-align: center;
    width: 100%;
    height:73vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: 2s;
}
#concon{
   background-color:#000000;
   background-image: linear-gradient(190deg ,rgb(0, 0, 0),rgba(0, 0, 0, 0.788));
    position: relative;
    z-index: 1;
}
.but1 button{
    background-image: linear-gradient(50deg, yellow, rgb(0, 98, 255));
    font-size: 20px;
    margin:20px;
    padding: 10px;

}
#text1{
    font-size: 20px;
    font-weight: 600;
    color:rgb(251, 251, 251);

 }
 #text2{
    margin-top:300px ;
 }
.tex{
   font-size: 58px;
   font-weight: 600;
   line-height: 55px;
   color: rgb(255, 255, 255);
   text-shadow: 1px 1px 2px black, 0 0 25px rgba(0, 0, 255, 0.87), 0 0 5px darkblue;
}
 .coverpic{
    animation: scalee 6s infinite alternate-reverse;
  }
  
  @keyframes scalee {
    from {
      transform: scale(1);
    }
    to {

      transform: scale(1.03);
    }
  } 

#text1{
    animation: rotation1 8s infinite forwards;
  }
  
  @keyframes rotation1 {
    from {
      transform: translateY(20px);
    }
    to {
      transform:  translateY(155px);
    }
  }
  #text2{
    animation: rotation 8s infinite forwards;
  }
  
  @keyframes rotation {
    from {
      transform: translateY(0px);
    }
    to {
      transform:  translateY(-120px);
    }
  } 
  .text3{
    text-align: center;
    position: relative;
    z-index: 3;
    bottom: 450px;
  }
  .parentaero{
    background-image: url("./image/cloud.jpg"),url("./image/cloudtex.jpg");;
    background-blend-mode: screen;
    width: 100%;
    height:50vh;
    background-size: cover;
   display: flex;
   position: relative;
   justify-content: center;
   bottom: 513px;
   z-index: 9;
  }
  .aeroplane{
     margin-right: 555px;
    position: relative;
    bottom: 65px;
    margin-left: 35%;
    height: 5%;

  }
  .aeroplane img{
    width:1200px;
    height:45vh;
  }
  .aeroplane{
    animation: scal 4s infinite alternate-reverse;
  }
  
  @keyframes scal {
    from {
        /* animation-delay: 2s;
      transform: rotate(0deg);
      transform: rotate(15deg); */
      transform: translateY(20px);

    }
    to {
      transform: translateY(50px);
        /* animation-delay: 2s;
        transform: rotate(0deg);
        transform: rotate(-10deg); */
  }
  }
i{
    display: flex;
    justify-content: space-around;
    width: 222px;
}
.grand-par{
    height: 80%;
}



/*login css*/

.inputbox
{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 30px 0;
    
}

.inputbox label
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000000cb;
    font-weight: 550;
    pointer-events: none;
    transition: 0.4s;
    font-size: large;
}

.inputbox input:focus~label,
.inputbox input:valid~label
{
    top: -5px;
}

.inputbox input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.inputbox .icon
{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
}

.rememberMe
{
    font-size: 0.9em;
    color: #000000;
    font-weight: 500;
    margin: 0.15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.rememberMe label input
{
    accent-color: black;
    margin-right: 3px;
}

.rememberMe a
{
    color: #000000;
    text-decoration: none;
}

.rememberMe a :hover
{
    text-decoration: underline;
}

.btttn
{
    width: 100%;
    height: 45px;
    background: #41360fe6;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: antiquewhite;
    font-weight: 500;
}


.login_register a
{
    color: #1307ff;
    text-decoration: none;
    font-weight: 600;
}

.login_register p a :hover
{
    text-decoration: underline;
}

.close
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    background: #41360fe6;
    font-size: 2em;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    z-index:2;
} 

#formboxLogin {
    position: relative;
    margin:10px;
    padding: 10px;
    border: 2px solid #888;
    width:30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.8s;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height:50%;
    display: flex;
    justify-content: center;
    z-index: 5;
    background-color: #f7f7f7bb;
  }
  #formboxLogin h1{
    text-align: center;
    font-style: bold;
  }
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0;opacity:1}
  }
  a{
    color: blue;
  }